################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Docker/FlaskAPI/src/api/__pycache__
/Docker/FlaskAPI/src/__pycache__
